@import '../node_modules/bootstrap/scss/bootstrap.scss';

@mixin square($size) {
    width: $size;
    height: $size;
}

.flex-container {
    display: flex;

    .flex-4 {
        flex: 4;
    }

    .flex-2 {
        flex: 2;
    }
}

.hero-container {
    padding: 210px 148px 129px;
    background-color: azure;
}

.hero-person {
    @include square(240px);
    background-color: aquamarine;
    border-radius: 50%;
    background-image: url("/assets/profile-picture.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -5px 13px 0 0 #EDF7FA;
}

.p-16 {
    padding: 16px;
}
